*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:grey;
}

.container{
    width:1000px;
    margin: 0 auto;
}

header{
    height: 200px;
}

nav{
    margin-top: 10px;
    padding:20px;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
}

.image{
    height: 600px;
    margin-top:20px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    padding: 350px 350px 160px 60px ;
    margin-top: 20px;
}

.content-1{
    width: 1000px;
    height: 650px;
    margin-top: 40px;
    border: 2px;
}

.comp-principale{
    height: 100px;
}

h1{
    color:black;
}

#margin{
    margin-bottom: 15px;
    height: 500px;   
}

.fl{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

 .comp-primo, .float-secondo, .float.secondo{
    height: 400px;
}

.comp-primo{
    width: calc(25% - 30px);
    margin: 15px 15px 0 0;
    height: 150px;
 }

.float-secondo{
    width: calc(50% - 45px);
    margin-top: 15px;
    padding-right: 10px;
    padding-left:10px;
}

.float-terzo{
    width: calc(25% - 40px);
    margin-top:15px;
    margin-left:25px;
}

.comp-primo img, .float-secondo img, .float.secondo img{
  width: 100%;
}

footer{
    height:50px;
    margin: 30px;
    text-align: center;
    color:black;
}
